In [10]:
import numpy as np
import pandas as pd

In [11]:
data = np.fromfile("../raw_data/dataset_03/otdcr_200_all.dat", dtype=np.float32)
data

array([ 0.e+00,  2.e+02,  1.e+00, ...,  1.e+20,  0.e+00, -1.e+00],
      dtype=float32)

In [4]:
size = int(data.size / 1762.0)
size

160000

In [5]:
data.size

281920000

In [7]:
out = open("../data/dataset_03/data.csv", 'a+')
#for j in range(672):
#    out.write(str(j))
#    if(j != 671):
#        out.write(',')
#out.write('\n')

for i in range(0, int(data.size), 1762):
    for j in range(672):
        out.write(str(data[i + 25 + j]))
        if j != 671:
            out.write(',')
    out.write('\n')

out.close()

In [8]:
df = pd.read_csv("../data/dataset_03/data.csv", index_col=None, header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
count,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,...,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0,160000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df = df.fillna(0)
df

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48801,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48802,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48803,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48804,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48805,0.0,0.0,0.0,0.0,7.163000e-42,7.318000e-42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df[4] = 0.0
df[5] = 0.0
df

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
48801     True
48802     True
48803     True
48804     True
48805     True
Length: 48806, dtype: bool

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
count,48806.000000,48806.000000,48806.000000,48806.000000,48806.0,48806.0,48806.0,48806.0,48806.0,48806.0,...,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000,48806.000000
mean,0.043806,0.008872,0.008032,0.008831,0.0,0.0,0.0,0.0,0.0,0.0,...,0.123550,0.108614,0.021924,0.015736,0.416650,0.239889,0.090686,0.094701,0.018748,0.015777
std,0.212331,0.093773,0.089261,0.093558,0.0,0.0,0.0,0.0,0.0,0.0,...,1.199469,1.202746,0.426471,0.379365,2.821466,1.892227,1.017304,1.050476,0.415355,0.379795
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,64.000000,67.000000,27.000000,26.000000,218.000000,60.000000,57.000000,39.000000,23.000000,21.000000

In [9]:
df.shape

(48806, 672)

In [50]:
df.to_csv("../data/dataset_03/data.csv")

# Clear data

In [42]:
y = pd.read_csv("../raw_data/dataset_03/OTDCR_100.txt", sep='\t',
                index_col=None, header=None)

In [43]:
y_true = pd.concat([y[:4036], y[10000:18708], y[20000:27668], y[50000:55411], y[75000:82983], y[85000:]],
                   ignore_index=True)

In [44]:
y_true = y_true.drop([0, 1], axis=1)
y_true

              2         3       4         5         6       7
0       0.10871  -0.27960  14.997  10.61088  10.45806  -1.743
1      10.61088  10.45806  -1.743   0.10871  -0.27960  14.997
2       0.10871  -0.27960  14.997  11.83410   1.03286  -9.159
3      11.83410   1.03286  -9.159   0.10871  -0.27960  14.997
4       0.10871  -0.27960  14.997   0.48150 -11.78048  -9.273
...         ...       ...     ...       ...       ...     ...
48801  -9.63243   9.66777   6.225  -0.19256   0.23003 -14.997
48802  -0.19256   0.23003 -14.997  13.42070   6.56526   1.335
48803  13.42070   6.56526   1.335  -0.19256   0.23003 -14.997
48804  -0.19256   0.23003 -14.997 -13.56919   5.13653   3.807
48805 -13.56919   5.13653   3.807  -0.19256   0.23003 -14.997

[48806 rows x 6 columns]

In [45]:
y_true = y_true.rename(columns={2: 'x1', 3: 'y1', 4: 'z1',
                                5: 'x2', 6: 'y2', 7: 'z2'})
y_true

             x1        y1      z1        x2        y2      z2
0       0.10871  -0.27960  14.997  10.61088  10.45806  -1.743
1      10.61088  10.45806  -1.743   0.10871  -0.27960  14.997
2       0.10871  -0.27960  14.997  11.83410   1.03286  -9.159
3      11.83410   1.03286  -9.159   0.10871  -0.27960  14.997
4       0.10871  -0.27960  14.997   0.48150 -11.78048  -9.273
...         ...       ...     ...       ...       ...     ...
48801  -9.63243   9.66777   6.225  -0.19256   0.23003 -14.997
48802  -0.19256   0.23003 -14.997  13.42070   6.56526   1.335
48803  13.42070   6.56526   1.335  -0.19256   0.23003 -14.997
48804  -0.19256   0.23003 -14.997 -13.56919   5.13653   3.807
48805 -13.56919   5.13653   3.807  -0.19256   0.23003 -14.997

[48806 rows x 6 columns]

In [48]:
y_true.duplicated().sum()

72

In [49]:
y_true.to_csv("../data/dataset_03/answer.csv")

In [51]:
pd.read_csv("../data/dataset_03/answer.csv")

       Unnamed: 0        x1        y1      z1        x2        y2      z2
0               0   0.10871  -0.27960  14.997  10.61088  10.45806  -1.743
1               1  10.61088  10.45806  -1.743   0.10871  -0.27960  14.997
2               2   0.10871  -0.27960  14.997  11.83410   1.03286  -9.159
3               3  11.83410   1.03286  -9.159   0.10871  -0.27960  14.997
4               4   0.10871  -0.27960  14.997   0.48150 -11.78048  -9.273
...           ...       ...       ...     ...       ...       ...     ...
48801       48801  -9.63243   9.66777   6.225  -0.19256   0.23003 -14.997
48802       48802  -0.19256   0.23003 -14.997  13.42070   6.56526   1.335
48803       48803  13.42070   6.56526   1.335  -0.19256   0.23003 -14.997
48804       48804  -0.19256   0.23003 -14.997 -13.56919   5.13653   3.807
48805       48805 -13.56919   5.13653   3.807  -0.19256   0.23003 -14.997

[48806 rows x 7 columns]